[submodule "poly-dov-amm"]
	path = poly-dov-amm
	url = https://github.com/shibakenfinance/poly-dov-amm
[submodule "whitelist-airdrop"]
	path = whitelist-airdrop
	url = https://github.com/shibakenfinance/whitelist-airdrop.git
[submodule "prime-blockchain"]
	path = prime-blockchain
	url = https://github.com/shibakenfinance/prime-blockchain.git
